In [20]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import re
import csv
import numpy as np
pd.set_option('display.max_columns', None)
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
# importss above

In [21]:
!which chromedriver

/usr/local/bin/chromedriver

In [22]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [23]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36'
}

In [24]:
titles = []
Descriptions = []

In [25]:
with requests.Session() as s:
    url = ('https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest')
    r = s.get(url, headers=headers)
    soup = BeautifulSoup(r.content, 'html5lib')
    titlesfind = soup.find_all('div',{'class':'content_title'})
    for title in titlesfind:
        titleselect = title.a['href']
        titles.append(titleselect)
    descriptionfind = soup.find_all('div',{'class':'article_teaser_body'})
    for desc in descriptionfind:
        Description = desc.text
        Descriptions.append(Description)

In [26]:
urlimage = ('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')

In [27]:
browser.visit(urlimage)

In [28]:
with requests.Session() as s:
    browser.click_link_by_partial_text('FULL IMAGE')
    browser.click_link_by_partial_text('more info')
    html = browser.html
    soupsplinter = BeautifulSoup(html ,'html.parser')
    found = soupsplinter.find('figure',{'class':'lede'})
    url = found.a['href']
    featured_image_url = ('https://www.jpl.nasa.gov' + url)

In [29]:

    
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

In [30]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
pattern = re.compile(r'sol')
mars_weather_t = soup.find('div',attrs={"class":"tweet","data-name": "Mars Weather"})
   
try:
    mars_weather = mars_weather_t.find("p", "tweet-text").get_text()
    mars_weather
except AttributeError:
    pattern = re.compile(r'sol')
    mars_weather = soup.find('span', text=pattern).text
    mars_weather
mars_weather

'InSight sol 513 (2020-05-06) low -93.0ºC (-135.3ºF) high -0.1ºC (31.8ºF)\nwinds from the SW at 5.0 m/s (11.3 mph) gusting to 16.2 m/s (36.3 mph)\npressure at 6.90 hPa'

In [57]:
table = []

In [58]:
with requests.Session() as s:
    url = ('https://space-facts.com/mars/')
    r = s.get(url, headers=headers)
    soup = BeautifulSoup(r.content, 'html5lib')
    tablesfind = soup.find('tbody')
    trfine = tablesfind.find_all('tr')
    for tr in trfine:
        td = tr.find_all('td')
        for tds in td:
            table.append(tds.text)

In [62]:
table = pd.DataFrame(table)

In [67]:
new_df = pd.DataFrame({'0':table[0].iloc[::2].values, 'Value':table[0].iloc[1::2].values})

In [69]:
new_df.columns = ['Q','A']

In [71]:
new_df

                       Q                              A
0   Equatorial Diameter:                       6,792 km
1        Polar Diameter:                       6,752 km
2                  Mass:  6.39 × 10^23 kg (0.11 Earths)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.38 AU)
5          Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                    -87 to -5 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers

In [ ]:
ImgYTitle = []

In [73]:
    
url2 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url2)
urls =[]

In [74]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
urlies = soup.find_all('div', attrs={'class': 'description'})
for u in urlies:
    johnny = u.a['href']
    urls.append(johnny)

In [75]:
urls
images

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [79]:
urler = 'https://astrogeology.usgs.gov/'

In [115]:
john = []
george = []

In [130]:
image_urls = []

links = browser.find_by_css("a.product-item h3")

for johnny in range(len(links)):
    hemispheres = {}
    browser.find_by_css("a.product-item h3")[i].click()
    hr = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = hr['href']
    hemisphere['title'] = browser.find_by_css("h2.title").text
    image_urls.append(hemisphere)
    browser.back()